In [42]:
import pandas as pd

interactions = pd.read_csv('../../data/filtered_interactions.csv')
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1663603 entries, 0 to 1663602
Data columns (total 5 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   id          1663603 non-null  int64
 1   action      1663603 non-null  object
 2   user_uid    1663603 non-null  object
 3   created     1663603 non-null  int64
 4   product_id  1663603 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 63.5+ MB

In [43]:
interactions.head()

,id,action,user_uid,created,product_id
0,2390211,add_to_cart,RmZVQzg5SzBqanpGRmtaNzIwMjU4MTcyMjI0Mw==,1758140655,89747.0
1,2390131,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758140160,12684.0
2,2390056,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758139926,12684.0
3,2390023,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758139820,12684.0
4,2389957,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758139449,12684.0

In [44]:
interactions.loc[interactions['user_uid'] == 'N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4'].head()

,id,action,user_uid,created,product_id
1,2390131,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758140160,12684.0
2,2390056,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758139926,12684.0
3,2390023,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758139820,12684.0
4,2389957,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758139449,12684.0
916,2296826,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1757692665,84385.0

In [45]:
len(interactions['id'].unique())

1663603

In [46]:
aleksa_interactions = interactions.loc[interactions['user_uid'] == 'TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==']
print(aleksa_interactions)

              id        action                                  user_uid  \
66       2385034   add_to_cart  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
791      2311266   add_to_cart  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
2057     2218347   add_to_cart  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
2064     2217808   add_to_cart  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
2070     2217636   add_to_cart  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
...          ...           ...                                       ...
1656888  2394480  content_view  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
1656897  2394471  content_view  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
1657237  2394118  content_view  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
1657257  2394098  content_view  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
1657268  2394086  content_view  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==

            created  product_id
66       1758117700     59171.0
791      1757759227     38090.0
2057     1757317163     91553.0
2064     1757314586     43035.0
2070     1757313929     68939.0
...             ...         ...
1656888  1758184087     91554.0
1656897  1758184058     41756.0
1657237  1758182350     12873.0
1657257  1758182183     89769.0
1657268  1758182104     64499.0

[1613 rows x 5 columns]

In [47]:
aleksa_interactions.loc[:, 'created'] = pd.to_datetime(aleksa_interactions['created'], unit='s')

interactions_per_day = (
    aleksa_interactions
    .groupby(aleksa_interactions['created'].dt.date)
    .size()
)

print("Unique dates and their counts:")
print(interactions_per_day)

max_number_of_aleksa_interactions_in_a_day = interactions_per_day.max()
print(f"Max interactions in a day: {max_number_of_aleksa_interactions_in_a_day}")

Unique dates and their counts:
created
2025-07-13     4
2025-07-14    47
2025-07-15    32
2025-07-16    46
2025-07-17    41
              ..
2025-09-13    17
2025-09-15    50
2025-09-16    44
2025-09-17    25
2025-09-18    35
Length: 61, dtype: int64
Max interactions in a day: 118

In [48]:
prpr = pd.read_csv('../../data/product_product.csv')

prpr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1165379 entries, 0 to 1165378
Data columns (total 3 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   product_to_recommend_id        1165379 non-null  int64
 1   product_for_recommendation_id  1165379 non-null  int64
 2   interaction_weight             1165379 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 26.7 MB

In [49]:
prpr.head(10)

   product_to_recommend_id  product_for_recommendation_id  interaction_weight
0                        1                              1            4.899986
1                        1                              6            0.500000
2                        1                             94            0.500000
3                        1                            713            0.099978
4                        1                            882            0.099601
5                        1                           1400            0.200000
6                        1                           1503            0.699689
7                        1                           1632            0.399998
8                        1                           2201            0.099081
9                        1                           2486            0.099971

In [50]:
prpr.loc[prpr['product_to_recommend_id'] == 38244]\
    .sort_values('interaction_weight', ascending=False)\
    .head(30)

,product_to_recommend_id,product_for_recommendation_id,interaction_weight
436427,38244,38244,4.295915
436426,38244,38243,2.099997
436415,38244,12504,1.599997
436424,38244,37037,1.099987
436445,38244,96405,0.200000
436416,38244,12512,0.200000
436444,38244,95816,0.199926
436440,38244,89794,0.199926
436434,38244,55329,0.199922
436420,38244,12788,0.100000
436431,38244,45012,0.100000
436432,38244,47339,0.100000
436419,38244,12550,0.100000
436423,38244,28705,0.100000
436418,38244,12520,0.100000
436417,38244,12513,0.100000
436442,38244,92120,0.100000
436428,38244,38245,0.100000
436411,38244,5057,0.100000
436437,38244,71655,0.100000
436443,38244,93384,0.099999
436410,38244,1922,0.099999
436439,38244,89145,0.099996
436413,38244,7637,0.099969
436429,38244,42903,0.099965
436438,38244,83433,0.099965
436425,38244,37274,0.099962
436435,38244,55330,0.099961
436414,38244,8782,0.099960
436430,38244,42926,0.099960