In [25]:
import pandas as pd

interactions = pd.read_csv('../../data/filtered_interactions.csv')
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1652827 entries, 0 to 1652826
Data columns (total 5 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   id          1652827 non-null  int64
 1   action      1652827 non-null  object
 2   user_uid    1652827 non-null  object
 3   created     1652827 non-null  int64
 4   product_id  1652827 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 63.1+ MB

In [26]:
interactions.head()

,id,action,user_uid,created,product_id
0,2390211,add_to_cart,RmZVQzg5SzBqanpGRmtaNzIwMjU4MTcyMjI0Mw==,1758140655,89747.0
1,2390131,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758140160,12684.0
2,2390056,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758139926,12684.0
3,2390023,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758139820,12684.0
4,2389957,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758139449,12684.0

In [32]:
interactions.loc[interactions['user_uid'] == 'N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4'].head()

,id,action,user_uid,created,product_id
1,2390131,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758140160,12684.0
2,2390056,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758139926,12684.0
3,2390023,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758139820,12684.0
4,2389957,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1758139449,12684.0
916,2296826,add_to_cart,N21NYmtKbDBoSnlWY0p3MjIwMjUzMjExODU4,1757692665,84385.0

In [30]:
len(interactions['id'].unique())

1652827

In [27]:
aleksa_interactions = interactions.loc[interactions['user_uid'] == 'TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==']
print(aleksa_interactions)

              id        action                                  user_uid  \
66       2385034   add_to_cart  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
791      2311266   add_to_cart  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
2057     2218347   add_to_cart  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
2064     2217808   add_to_cart  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
2070     2217636   add_to_cart  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
...          ...           ...                                       ...
1090196  1300900  content_view  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
1093771  1297288  content_view  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
1093825  1297233  content_view  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
1093931  1297127  content_view  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==
1093970  1297088  content_view  TXB6dERiVTROSlJhYUxUVDIwMjU2MTMyMzU1NA==

            created  product_id
66       1758117700     59171.0
791      1757759227     38090.0
2057     1757317163     91553.0
2064     1757314586     43035.0
2070     1757313929     68939.0
...             ...         ...
1090196  1752474875     30887.0
1093771  1752442445     93800.0
1093825  1752441892     93800.0
1093931  1752440985     30887.0
1093970  1752440760     13741.0

[1578 rows x 5 columns]

In [28]:
aleksa_interactions.loc[:, 'created'] = pd.to_datetime(aleksa_interactions['created'], unit='s')

interactions_per_day = (
    aleksa_interactions
    .groupby(aleksa_interactions['created'].dt.date)
    .size()
)

print("Unique dates and their counts:")
print(interactions_per_day)

max_number_of_aleksa_interactions_in_a_day = interactions_per_day.max()
print(f"Max interactions in a day: {max_number_of_aleksa_interactions_in_a_day}")

Unique dates and their counts:
created
2025-07-13      4
2025-07-14     47
2025-07-15     32
2025-07-16     46
2025-07-17     41
2025-07-18     11
2025-07-19    118
2025-07-21     31
2025-07-22     12
2025-07-23     61
2025-07-24     51
2025-07-25     41
2025-07-26     23
2025-07-28     34
2025-07-29     37
2025-07-30     24
2025-07-31     40
2025-08-01     26
2025-08-02      6
2025-08-03      1
2025-08-04     48
2025-08-05     21
2025-08-06     33
2025-08-07     10
2025-08-08     18
2025-08-09     12
2025-08-11      5
2025-08-12     24
2025-08-13     19
2025-08-14     42
2025-08-15     41
2025-08-16     11
2025-08-18     17
2025-08-19     33
2025-08-20     37
2025-08-21     23
2025-08-22     19
2025-08-23      8
2025-08-24      6
2025-08-25      4
2025-08-26     18
2025-08-27     26
2025-08-28     10
2025-08-29     27
2025-08-30      7
2025-09-01     10
2025-09-02     27
2025-09-03      8
2025-09-04     13
2025-09-05     24
2025-09-06      7
2025-09-08     29
2025-09-09     13
2025-09-10      4
2025-09-11     62
2025-09-12     40
2025-09-13     17
2025-09-15     50
2025-09-16     44
2025-09-17     25
dtype: int64
Max interactions in a day: 118